{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datecreation</th>
                <th>Datefin</th>
                <th>Client</th>
                <th>Status</th>
                <th>Placereserve</th>
                <th>Max</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': reservation.id }) }}">{{ reservation.id }}</a></td>
                <td>{% if reservation.dateCreation %}{{ reservation.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if reservation.dateFin %}{{ reservation.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ reservation.client }}</td>
                <td>{% if reservation.status %}Yes{% else %}No{% endif %}</td>
                <td>{{ reservation.placeReserve }}</td>
                <td>{{ reservation.max }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservation_show', { 'id': reservation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new reservation</a>
        </li>
    </ul>
{% endblock %}
