{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if reservation.dateCreation %}{{ reservation.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{% if reservation.dateFin %}{{ reservation.dateFin|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ reservation.client }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if reservation.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Placereserve</th>
                <td>{{ reservation.placeReserve }}</td>
            </tr>
            <tr>
                <th>Max</th>
                <td>{{ reservation.max }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
