{% extends 'base.html.twig' %}

{% block body %}
    <h1>Sousespace</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousEspace.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ sousEspace.type }}</td>
            </tr>
            <tr>
                <th>Espace</th>
                <td>{{ sousEspace.espace }}</td>
            </tr>
            <tr>
                <th>Emploi</th>
                <td>{{ sousEspace.emploi }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{% if sousEspace.duree %}{{ sousEspace.duree|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Places</th>
                <td>{{ sousEspace.places }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sousespace_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sousespace_edit', { 'id': sousEspace.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
